body{
    background-color: azure;
}
h1{
    color: #f30f0f;
    font-size: 40px;
    padding-left: 600px;
    padding-bottom: 40px;
    padding-top: 40px;
}
h3{
    padding-left: 650px;
    font-size: 20px;
}
.text1{
    padding-top: 5px;
    margin-left: 650px;
    margin-right: 100px;
    
    text-align: justify;
}
h2{
    text-align: left;
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
.image2{
    padding-left: 200px;
    padding-top: 25px;
}

.image2 img{ 
    width: 150px;
    height: 150px;



}
.video1{
    padding-left: 600px;
}